.trainer {
  max-height: 35vh;
  width: 100%;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  &:hover {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(136, 160, 255, 0.46) 217.91%
    );
    opacity: 0.8;
    border: none;
    scale: 1.025;
  }

  .trainer-header {
    img {
      width: 100%;
      max-height: 10rem;
    }

    .name {
      font-weight: bold;
      margin-top: 10px;
    }
  }

  .stick {
    height: 3px;
    background-color: #000000af;
  }

  .trainer-footer {
    .bio {
      opacity: 0.7;
    }
  }
}

@media (max-width: 320px) {
  .trainer {
    height: 25rem;

    .trainer-header {
      img {
        width: 50%;
      }
    }

    .trainer-footer {
      .bio {
        font-size: 12px;
      }
    }
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .trainer {
    font-size: 13px;

    .trainer-header {
      img {
        width: 50%;
      }
    }

    .trainer-footer {
      .bio {
        font-size: 12px;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .trainer {
    font-size: 13px;
    height: 100%;

    .trainer-header {
      img {
        width: 40%;
      }
    }

    .trainer-footer {
      .bio {
        font-size: 13px;
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .trainer {
    font-size: 13px;
    height: 100%;

    .trainer-header {
      img {
        width: 75%;
      }
    }
  }
}
